{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Галерея{% endblock %}

{% block body %}
	<section class="gallery">
		{% if albums %}
			{% for album in albums %}
				<article class="album">
					<div class="album-icon">
						<img src="{{ album.cover_link }}" alt="{{ album.title }}">
					</div>
					<div class="album-description">{{ album.description }}</div>
				</article>
			{% endfor %}
		{% endif %}
	</section>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}