<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>
	
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	{% block stylesheets %}{% endblock %}
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="wrapper">
	<div class="content">
		<nav>
			<div class="home">
				<a href="/">
					<span>Margareth Evstynina</span>
					<span>Photo Portfolio</span>
				</a>
			</div>
			<ul class="menu">
				<li class="menu-item">
					<a href="/gallery">Галерея
						<span class="fa fa-camera-retro"></span>
					</a>
				</li>
				<li class="menu-item">
					<a href="/about">Обо мне
						<span class="fa fa-id-card"></span>
					</a>
				</li>
				<li class="menu-item">
					<a href="/service">Услуги
						<span class="fa fa-cog"></span>
					</a>
				</li>
				<li class="menu-item">
					<a href="/contacts">Контакты
						<span class="fa fa-envelope"></span>
					</a>
				</li>
			</ul>
		</nav>
		
		{% block body %}{% endblock %}
	
	</div>
	<footer>
		<div class="social">
			<a href="https://new.vk.com/club81993158" target="_blank">
				<div class="fa fa-vk fa-2x"></div>
			</a>
			<a href="" target="_blank">
				<div class="fa fa-facebook-official fa-2x"></div>
			</a>
			<a href="https://www.instagram.com/margaritae_e/" target="_blank">
				<div class="fa fa-instagram fa-2x"></div>
			</a>
		</div>
		<div class="copyright">2016 &copy; Все права защищены</div>
	</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        crossorigin="anonymous"></script>

{% block javascripts %}

{% endblock %}
</body>
</html>
