{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Галерея{% endblock %}

{% block body %}
	<section class="gallery">
	{% for photo in photos %}
		<article class="photo">
			<img src="{{ photo.link }}" alt="photo">
		</article>
	{% endfor %}
	</section>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}