{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Услуги{% endblock %}

{% block body %}
	<section class="service">
		<div class="title">
			<h1>Обзор услуг</h1>
		</div>
		
		<div class="photoset-type">
			<h3>Свадебная фотосъемка</h3>
			<ul class="inside-list">
				<li><span class="fa fa-plus-square"></span>Работа фотографа от 6 часов</li>
				<li><span class="fa fa-plus-square"></span>Фотосъемка основных моментов вашей свадьбы</li>
				<li><span class="fa fa-plus-square"></span>Фотограф снимает как постановочные так и репортажные кадры</li>
				<li><span class="fa fa-plus-square"></span>Количество кадров 250 - 500 в зависимости от времени съемки</li>
				<li><span class="fa fa-plus-square"></span>Обработка 50 фотографий по резкости, цвету и контрасту.</li>
				<li><span class="fa fa-plus-square"></span>Ретушь и подготовка к печати 10 лучших фотографий форматом 20х30
					и 50 фотографий форматом 10х15 (по выбору фотографа)
				</li>
				<li><span class="fa fa-plus-square"></span>Запись фотографий на DVD диск.</li>
				<li><span class="fa fa-plus-square"></span>Срок сдачи заказа от 7 до 14 дней</li>
			</ul>
		</div>
		<div class="photoset-type">
			<h3>Выездная фотосъемка</h3>
			<ul class="inside-list">
				<li><span class="fa fa-plus-square"></span>Фотосъемка проходит на открытом воздухе либо в помещении по вашему желанию.</li>
				<li><span class="fa fa-plus-square"></span>Количество кадров от 100 и выше в зависимости от времени съемки</li>
				<li><span class="fa fa-plus-square"></span>Обработка и подготовка к печати 10 фотографий.</li>
				<li><span class="fa fa-plus-square"></span>Запись фотографий на DVD диск</li>
				<li><span class="fa fa-plus-square"></span>Срок сдачи заказа от 3 до 7 дней</li>
			</ul>
		</div>
		<div class="photoset-type">
			<h3>Студийная фотосъемка</h3>
			<ul class="inside-list">
				<li><span class="fa fa-plus-square"></span>Фотосъемка происходит в фотостудии на ваше усмотрение.</li>
				<li><span class="fa fa-plus-square"></span>Количество кадров от 100 и выше в зависимости от времени съемки</li>
				<li><span class="fa fa-plus-square"></span>Обработка и подготовка к печати 10 фотографий.</li>
				<li><span class="fa fa-plus-square"></span>Запись фотографий на DVD диск</li>
				<li><span class="fa fa-plus-square"></span>Срок сдачи заказа от 3 до 7 дней</li>
			</ul>
		</div>
		<div class="photoset-type">
			<h3>Репортажная фотосъемка</h3>
			<ul class="inside-list">
				<li><span class="fa fa-plus-square"></span>Работа фотографа от 2 часов</li>
				<li><span class="fa fa-plus-square"></span>Фотосъемка основных моментов на вашем мероприятии</li>
				<li><span class="fa fa-plus-square"></span>Количество кадров от 100 в зависимости от времени съемки</li>
				<li><span class="fa fa-plus-square"></span>Обработка и подготовка к печати 30 фотографий (по выбору фотографа).</li>
				<li><span class="fa fa-plus-square"></span>Запись фотографий на DVD диск.</li>
				<li><span class="fa fa-plus-square"></span>Срок сдачи заказа от 3 до 7 дней</li>
			</ul>
		</div>
	</section>
	<div class="clearfix"></div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/service.css') }}">
{% endblock %}

{% block javascripts %}

{% endblock %}