{% extends 'default/index.html.twig' %}

{% block title %}Маргарита Евстюнина - Фотограф - Услуги{% endblock %}

{% block body %}
	<section class="service">
		<div class="title">
			<h1>Обзор услуг</h1>
		</div>
		
		<div class="photoset-type top-left">
			<h2>Свадебная фотосъемка</h2>
			<ul class="inside-list">
				<li>Работа фотографа от 6 часов</li>
				<li>Фотосъемка основных моментов вашей свадьбы</li>
				<li>Фотограф снимает как постановочные так и репортажные кадры</li>
				<li>Количество кадров 250 - 500 в зависимости от времени съемки</li>
				<li>Обработка 50 фотографий по резкости, цвету и контрасту.</li>
				<li>Ретушь и подготовка к печати 10 лучших фотографий форматом 20х30
					и 50 фотографий форматом 10х15 (по выбору фотографа)
				</li>
				<li>Запись фотографий на DVD диск.</li>
				<li>Срок сдачи заказа от 7 до 14 дней</li>
			</ul>
		</div>
		<div class="photoset-type top-right">
			<h2>Выездная фотосъемка</h2>
			<ul class="inside-list">
				<li>Фотосъемка проходит на открытом воздухе либо в помещении по вашему желанию.</li>
				<li>Количество кадров от 100 и выше в зависимости от времени съемки</li>
				<li>Обработка и подготовка к печати 10 фотографий.</li>
				<li>Запись фотографий на DVD диск</li>
				<li>Срок сдачи заказа от 3 до 7 дней</li>
			</ul>
		</div>
		<div class="photoset-type bottom-left">
			<h2>Студийная фотосъемка</h2>
			<ul class="inside-list">
				<li>Фотосъемка происходит в фотостудии на ваше усмотрение.</li>
				<li>Количество кадров от 100 и выше в зависимости от времени съемки</li>
				<li>Обработка и подготовка к печати 10 фотографий.</li>
				<li>Запись фотографий на DVD диск</li>
				<li>Срок сдачи заказа от 3 до 7 дней</li>
			</ul>
		</div>
		<div class="photoset-type bottom-right">
			<h2>Репортажная фотосъемка</h2>
			<ul class="inside-list">
				<li>Работа фотографа от 2 часов</li>
				<li>Фотосъемка основных моментов на вашем мероприятии</li>
				<li>Количество кадров от 100 в зависимости от времени съемки</li>
				<li>Обработка и подготовка к печати 30 фотографий (по выбору фотографа).</li>
				<li>Запись фотографий на DVD диск.</li>
				<li>Срок сдачи заказа от 3 до 7 дней</li>
			</ul>
		</div>
	</section>
	<div class="clearfix"></div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/service.css') }}">
{% endblock %}

{% block javascripts %}

{% endblock %}