{% extends 'admin/index.html.twig' %}

{% block body %}

		{% for album in albums %}
			<ul>
				<li>{{ album.author }}</li>
				<li>{{ album.title }}</li>
				<li>{{ album.description }}</li>
			</ul>
			
			<img src="{{ album.links.cover_link }}" alt="Обложка альбома" width="75" height="75">
			
		{% endfor %}

{% endblock %}