<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
		  integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
</head>
<body>
	<div class="container m-t-3">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#photos" role="tab">Фотографии</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#posts" role="tab">Статьи</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-9">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="photos" role="tabpanel">
						<div class="panel-title">
							<h2>Фотографии</h2>
						</div>
						
						<div class="alert alert-warning" role="alert">
							<strong>Внимание!</strong>
							Уважаемый пользователь, все твои изменения должны быть сохранены в нашем сервисе.
							Поэтому после всех изменений не забудь нажать кнопку
							<strong>Сохранить</strong> внизу страницы.
						</div>
						
						<form action="/admin/albums" method="post">
							<div class="input-group">
								<input type="text" class="form-control" id="ya_login" name="ya_login" placeholder="Введите логин от Яндекса...">
								<span class="input-group-btn">
									<button class="btn btn-info" type="submit">Загрузить данные из Яндекс.Фоток</button>
								</span>
							</div>
						</form>
						
						<div id="albums" class="m-t-2">
							
						</div>
						
						<form action="/admin/albums/save" method="post" class="save-form m-t-2">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-success" type="submit">Сохранить</button>
								</span>
							</div>
						</form>
					</div>

					<div class="tab-pane fade" id="posts" role="tabpanel">
						<h2>Статьи</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fader">
		<img src="{{ asset('img/load-icon.png') }}" alt="" class="spinner"/>
		<h3>Выполняется загрузка...</h3>
	</div>
	
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
	        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
	        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
	        integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD"
	        crossorigin="anonymous"></script>
	<script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
</body>
</html>
