/* Colors */
section.about {
  width: 80%; }
  section.about .right-side {
    width: 55%;
    float: right;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box; }
    section.about .right-side:after {
      display: block;
      content: "";
      clear: both;
      visibility: hidden; }
  section.about .left-side {
    width: 45%;
    height: 100%;
    float: left;
    border-right: 2px dashed #31333a;
    text-align: left;
    padding-right: 15px;
    box-sizing: border-box; }
    section.about .left-side .photo, section.about .left-side .photo-description {
      margin-bottom: 20px; }
      section.about .left-side .photo img, section.about .left-side .photo-description img {
        width: 100%;
        height: auto; }
    section.about .left-side .photo {
      text-align: center; }
  section.about .post {
    margin-bottom: 20px; }
    section.about .post a {
      color: inherit; }
      section.about .post a:hover {
        text-decoration: underline; }
    section.about .post .post-description {
      font-size: smaller;
      white-space: normal;
      line-height: 1em; }
      section.about .post .post-description h3 a {
        font-size: 20px;
        margin: 0; }
    section.about .post .post-date {
      font-size: smaller;
      color: #A1D8B1; }
  section.about .more-link a {
    color: #A1D8B1; }
    section.about .more-link a:hover {
      color: #3B756E;
      text-decoration: underline; }

section.news {
  width: 60%;
  text-align: left;
  margin-left: auto !important;
  margin-right: auto !important; }
  section.news .post {
    margin-bottom: 20px; }
    section.news .post .post-description {
      width: 70%; }
      section.news .post .post-description:hover {
        text-decoration: underline; }
      section.news .post .post-description a {
        color: #FBE3C9; }
    section.news .post .post-date {
      color: #489E96;
      font-size: smaller; }
    section.news .post p {
      font-size: smaller; }

section.article {
  width: 60%;
  text-align: left;
  margin-left: auto !important;
  margin-right: auto !important; }
  section.article > h3 {
    width: 80%;
    margin: 0 0 20px 0; }

/* For big tablets */
@media screen and (max-width: 1080px) and (min-width: 720px) {
  section.about .left-side, section.about .right-side {
    padding: 10px; }
  section.about .post .post-description {
    width: 90%; }
    section.about .post .post-description h3 a {
      font-size: 18px;
      line-height: 18px; }
  section.about .more-link a {
    font-size: 14px; } }
/* For tablets */
@media screen and (max-width: 720px) {
  section.about {
    width: 95%; }
    section.about .left-side, section.about .right-side {
      padding: 10px;
      float: none;
      width: 100%;
      text-align: left; }
    section.about .left-side {
      border: none; }
      section.about .left-side .photo > img {
        width: 95%;
        height: auto;
        margin-bottom: 15px; }
    section.about .post .post-icon {
      float: left;
      width: 30%;
      margin-right: 10px;
      margin-bottom: 10px; }
      section.about .post .post-icon img {
        width: 100%;
        height: auto; }
    section.about .post .post-description {
      width: 100%;
      line-height: 1em; }
      section.about .post .post-description h3 {
        font-size: 18px;
        margin: 0; }
      section.about .post .post-description a {
        font-size: 18px;
        line-height: 18px; }
    section.about .article h3 {
      font-size: 18px; }
    section.about .more-link h2 {
      font-size: 20px; }
    section.about .title h1 {
      text-align: center; }

  section.article {
    width: 80%;
    margin-top: 10px;
    font-size: 16px; }
    section.article > h3 {
      font-size: 18px; } }

/*# sourceMappingURL=about.css.map */
