/*Carousel on the main page*/

* {
    margin: 0;
    padding: 0;
}

.transform {
    margin-right: 5px;
    position: relative;
    z-index: 50;  
}

.transform:last-child {
    margin-right: 0;
}

.transformice {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 0;
}

.stop {
    border: none; 
    text-align: center; 
    margin: auto;
    display: inline-block;
}

.main {
    width: 100%;
    line-height: 100%;
}

.carousel {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
}

.carousel img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 720px) {
    .carousel {
        width: 90%;
        max-width: 540px;
        text-align: center;
        margin: 20px auto;
        overflow: visible;
    }
    
    .stop {
        width: 180px;
        height: 180px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
    .carousel {
        width: 90%;
        text-align: center;
        margin: 20px auto;
    }
    
    .stop {
        width: 240px;
        height: 240px;
    }
}

@media screen and (min-width: 1081px) {
    .carousel {
        width: 90%;
        text-align: center;
        margin: 20px auto;
    }
    
    .stop {
        width: 320px;
        height: 320px;
    }
}