/*.left-side, .right-side described in about.css*/

table {
	margin-bottom: 30px;
}

table tr {
	text-align: center;
}

table .labels{
	text-align: right;
	color: #FBE3C9;
	font-weight: 400;
	margin-right: 15px;
}

table .fields{
	text-align: left;
	color: #424242;
	padding: 10px 10px;
}

input, textarea {
	border-radius: 0;
	border: 2px solid #008080;
}

input:focus, textarea:focus {
	border-color: #FE2045;
}

input[type="text"], 
input[type="email"], 
input[type="tel"],
textarea{
	padding: 5px 0 5px 5px;
	width: 300px;
	font-weight: bold;
}

textarea {
	height: 150px;
}

input[type="submit"] {
	border: none;
	padding: 10px 20px;
	margin: 10px 0;
	background-color: #FC8F8D;
	color: #424242;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: 2px;
}

.contacts .left-side {
		border: none;
}

@media screen and (max-width: 1080px) and (min-width: 360px)  {
	td.labels, td.fields {
		display: table-row;
	}

	td.labels {
		text-align: left;
	}

	table.feedback-form {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}