@import "variables"
@import "mixins"

section.contacts
	table
		width: 90%
		margin-bottom: 30px
		.labels
			display: table-row
			width: 100%
			text-align: left
			color: $text-color
			font-weight: 400
		.fields
			display: table-row
			width: 100%
			text-align: center
			color: $light-grey
			padding: 10px 10px
	
	input, textarea
		@include border-box
		display: block
		width: 100%
		padding: 5px 0 5px 5px
		font-weight: normal
		font-size: 16px
		border-radius: 0
		border: 2px solid $dark-green
		&:focus
			border-color: $error-red
	
	textarea
		height: 150px
	
	input[type="submit"]
		border: none
		padding: 10px 20px
		margin: 10px 0
		background-color: $pink
		color: $light-grey
		font-weight: 700
		font-variant: small-caps
		letter-spacing: 2px
	
	.left-side, .right-side
		width: 50%
		text-align: left
		@include border-box
	.right-side
		float: right
	.left-side
		height: 100%
		float: left
		border: none
		div
			margin: 5px 0
		
	#form-success
		display: none
	
	#form-fail
		display: none
		
	.feedback-form
		width: 100%
		text-align: center

@media screen and (max-width: 1080px) and (min-width: 720px)
	section.contacts
		td.labels, td.fields
			display: table-row
		
		td.labels
			text-align: left
		
		table.feedback-form
			width: 90%
			margin-right: auto
			margin-left: auto
															   
/* for mobile */
@media screen and (max-width: 720px)
	section.contacts
		width: 75%
		margin: 0 auto
		.left-side, .right-side
			width: 100%
			float: none
			margin-top: 20px
			.title
				color: $pink
			
			