.gallery 
	text-align: center

.album 
	display: inline-block
	box-sizing: border-box
	background-color: #31333a
	padding: 10px

.album-icon
	img
		width: 95%
		height: auto
	&:hover
		

.album-description 
	display: inline-block
	height: 80px
	vertical-align: bottom
	margin-top: 20px
	color: #FBE3C9

/* @media for big screens */

@media screen and (min-width: 1081px) 
	.album
		width: 300px
		height: 420px
		margin-right: 10px

	.album:last-child
		margin-right: 0

/* @media for tablets */

@media screen and (min-width: 721px) and (max-width: 1080px) 
	.gallery
		width: 85%
		margin-left: auto
		margin-right: auto
	
	.album
		width: 33%
		margin-bottom: 5px

/* @media for smartphones */

@media screen and (max-width: 720px) 
	.album
		display: block
		width: 80%
		margin-left: auto
		margin-right: auto
		margin-bottom: 10px
